body{
color:red;
font-size:26px;
margin-left:10px;
margin-top:30px;
background-position:center;
background-size:cover;
}
a{
    border: 1px solid black;
    padding: 10px 20px 30px 40px;
    background-color: white;
   font-size:20px;
   width:400px;
   border-radius:30px;
   color:black;
}

#backbtn{
margin-top:500px;
margin-left:440px;
}


.heading {
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
canvas{
background-color:white;
outline-style: groove;
outline-color:red;
outline-width: 3px;
}